# 대용량 데이터 파일 제외 (압축 파일은 포함)
TRAIN/*.csv
TEST/*.csv
TRAIN/
TEST/
agg/
prep/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
